@-moz-document domain("soundcloud.com") {
/* GENERAL */
/** DESCRIPTION : change the elements of all page **/
    * {
	    font-family: "Roboto", "ぼくたちのゴシック２ボールド" !important;
	}
	body,
    #app {
    	background: #F0F1F5 !important;                                        
    }
	body {
		overflow-x: hidden;
	}
	.l-fluid-fixed {
        width: 80% !important;
        position: absolute !important;
        left: 0px !important;
        right: 0px !important;
        margin: auto !important;
	}
    .l-container.l-content {
        padding-top: 110px !important;
    }
    .dashbox__wrapper,
	.l-footer,
	.paging-eof,
	.image.m-station::before,
	.listenArtistInfo__copyright,
	.truncatedAudioInfo__license,
	.l-main .userNetwork .sc-button-share,
	.profileMenu__link.profileMenu__premium,
	.creatorsNavigation__onSoundCloud {
        display: none !important;
    }
	
/* HEADER */
/** DESCRIPTION : change the elements of the header **/
	.header {
		/*** HEADER CONTAINER ***/
		background: #FCA65F !important;
	}
	.header__logo {
		background: #EB6361 !important;
	}
	.header li a {
		/*** HEADER LINKS ***/
		color: #FFF !important;
	}
    .header__navMenu > li > a.selected,
	.uploadButton.selected {
    	background: transparent;   
    }
	.header__mainMenu-loggedInHome,
	.header__mainMenu-collection,
	.uploadButton__title,
	.userNav__username.sc-truncate {
		color: #FFF;
		border-right: none !important;
		font-size: 11pt !important;
		font-stretch: condensed !important;
		font-weight: bold;
		text-transform: uppercase;
	}
	.header__mainMenu-loggedInHome {
		background: #0C545C !important;
	}
	.header__link.header__goUpsell {
		display: none !important;
	}
	.headerSearch {
		/*** HEADER SEARCHBAR ***/
		background: #F0F1F5 !important;
		padding-bottom: 9px !important;
		margin-right: 10px !important;
		margin-left: 1px !important;
	}
	.headerSearch__input.sc-input {
		background: inherit !important;
		border-radius: 1px !important;
		font-stretch: condensed !important;
		font-size: 12pt !important;
	}
	.newItemBadge.newItems__some {
		border: 1px solid transparent !important;
	}
	.autocompleteItem {
		background: #212121 !important;
		padding: 5px !important;
		margin-bottom: -10px !important;
	}
	.autocompleteItem__queryIcon {
		display: none !important;
	}
	.searchMenu__searchForText {
		font-size: 12pt !important;
		font-stretch: condensed !important;
	}
	.autocompleteItem:last-child {
		border-bottom-left-radius: 2px !important;
		border-bottom-right-radius: 2px !important;
	}
	.userNav__item.selected, 
	.userNav__button.selected,
	.header__navMenu > li > a.header__moreButton.selected {
		/*** HEADER SECTION ***/
		background-color: #3C3741;
	}
	.unreadConversations.g-dark,
	.profileMenu__list,
	.g-dark-bg {
		background-color: #3C3741 !important;
		border-bottom-right-radius: 2px !important;
		border-bottom-left-radius: 2px !important;
		font-size: 12pt !important;
		font-stretch: condensed !important;
		padding: 20px !important;
		margin-left: 0px !important;
		margin-right: 1px !important;
	}
	.profileMenu__list.profileMenu__listener.sc-list-nostyle {
		margin-bottom: -40px !important;
	}
	.header__userNav {
		margin-left: 12px !important;
	}
	.g-dark-list {
		background-color: transparent !important;
	}
	.profileMenu__link {
		padding: 8px !important;
	}
	.profileMenu__link:hover, 
	.profileMenu__link:focus {
		background: transparent !important;
	}
	.profileMenu__link::after {
		display: none;
	}
	.notifications__viewAll.sc-type-h3.latestActivities__viewAll,
	.notifications__viewAll.sc-type-h3.outgoing-messages.headerMessages__viewAll,
	.profileMenu__list:not(:last-child),
	.moreMenu__list {
		border: none;
		font-size: 12pt !important;
	}
	.g-dark-bg .userBadge.m-horizontal .userBadge__meta {
		display: none !important;
	}
	.g-dark-bg .sc-clearfix.sc-type-light.sc-truncate {
		margin-top: -10px !important;
		margin-left: 4px !important;
	}
	.g-dark-bg .userBadge .userBadge__title .sc-truncate {
		font-size: 12pt !important;
	}
	.g-dark-bg .ownActivity__content * {
		font-size: 10.5pt !important;
	}
	.g-dark .ownActivity .ownActivity__time {
		font-size: 12pt !important;
		top: 14px !important;
		right: 2px !important; 
	}
	.g-dark .sc-icon-medium.left.commentTitle__icon.sc-icon-comment-light {
		display: none !important;
	}
	
/* PLAYER */
/** DESCRIPTION : change the elements of the player footer **/
	.playControls .playControls__inner {
		/*** PLAYER CONTAINER ***/
		background-color: #FFF !important;
		border-top: 1px solid #EBEBEB !important;
		padding: 10px 0px !important;
	}
	.playControls__bg {
		background-color: transparent;
		border-top: none;
	}
	.skipControl__previous {
		/*** PLAYER PREVIOUS BUTTON ***/
		background: no-repeat url("https://i.imgur.com/uNuXhE0.png") center !important;
		background-size: 17px auto !important;
	}
	.playControl[title="Play current"] {
		/*** PLAYER PLAY BUTTON ***/
		background: no-repeat url("https://i.imgur.com/QUuScCg.png") center !important;
		background-size: 24px auto !important;
	}
	.playControl[title="Pause current"] {
		/*** PLAYER PAUSE BUTTON ***/
		background: no-repeat url("https://i.imgur.com/es5blFI.png") center !important;
		background-size: 24px auto !important;
	}
	.skipControl__next {
		/*** PLAYER NEXT BUTTON ***/
		background: no-repeat url("https://i.imgur.com/1rnYfSY.png") center !important;
		background-size: 17px auto !important;
	}
	.shuffleControl::before {
		/*** PLAYER SHUFFLE BUTTON ***/
		background: no-repeat url("https://i.imgur.com/LycNdmB.png") center !important;
		background-size: 23px auto !important;
	}
	.shuffleControl::after {
		background: no-repeat url("https://i.imgur.com/vExkrH2.png") center !important;
		background-size: 23px auto !important;
	}
	.repeatControl.sc-ir.m-none,
	.repeatControl::before {
		/*** PLAYER REPEAT BUTTON ***/
		background: no-repeat url("https://i.imgur.com/4IYot9z.png") center !important;
		background-size: 18px auto !important;
	}
	.repeatControl::after {
		background: no-repeat url("https://i.imgur.com/mqAMFLM.png") center !important;
		background-size: 18px auto !important;
	}
	.playControls .playControls__inner .playbackTimeline__timePassed, 
	.playControls .playControls__inner .playbackTimeline__duration {
		/*** PLAYER TIME ***/
		font-size: 11pt !important;
		font-stretch: condensed !important;
	}
	.volume__sliderWrapper {
		background-color: #FFF !important;
	}
	.volume[data-level="1"] .volume__button, 
	.volume[data-level="2"] .volume__button, 
	.volume[data-level="3"] .volume__button, 
	.volume[data-level="4"] .volume__button,
	.volume[data-level="5"] .volume__button {
		background: no-repeat url("https://i.imgur.com/qCaedk3.png") center !important;
		background-size: 17px auto !important;
	}
	.volume[data-level="6"] .volume__button, 
	.volume[data-level="7"] .volume__button, 
	.volume[data-level="8"] .volume__button, 
	.volume[data-level="9"] .volume__button,
	.volume[data-level="10"] .volume__button {
		background: no-repeat url("https://i.imgur.com/tOGftUn.png") center !important;
		background-size: 17px auto !important;
	}
	.volume.muted .volume__button {
		background: no-repeat url("https://i.imgur.com/kjx816u.png") center !important;
		background-size: 17px auto !important;
	}
	.playControls .playControls__inner .sc-artwork {
		/*** PLAYER ALBUM ***/
		border-radius: 50% !important;
	}
	.playbackSoundBadge__titleContextContainer a {
		font-size: 11pt !important;
		font-stretch: condensed !important;
		text-transform: lowercase !important;
	}
	.playbackSoundBadge__titleLink,
	.playbackSoundBadge__lightLink {
		padding-bottom: 10px !important;
		margin-top: 0px !important;
	}
	.playbackSoundBadge__actions {
		/*** PLAYER ACTION BUTTONS ***/
		margin-left: 30px;
	}
	.playControls .sc-button-small.sc-button-selected.sc-button-like::before, 
	.playControls .sc-button-small.sc-button-like::before {
		background-size: 21px 21px;
	}
	.playbackSoundBadge__showQueue {
		margin-left: 4px !important;
	}

/* STREAM */
/** DESCRIPTION : change the elements of the stream page **/
    .stream__header.g-flex-row-centered-spread * {
        /*** STREAM HEADER ***/
        font-stretch: condensed !important;
        font-style: normal !important;
        font-weight: normal !important;
        letter-spacing: .1px !important;
    }
	.l-tabs {
		background: rgba(255,255,255,.98) !important;
		border-bottom: 1px solid #EBEBEB !important;
		padding: 15px 20px !important;
		width: 100% !important;
		text-align: center !important;
		position: fixed !important;
		top: 46px !important;
		right: 0px !important;
		left: 0px !important;
		z-index: 999 !important;
	}
	.l-tabs .streamExploreTabs {
		margin-bottom: 3px;
	}
	.l-tabs .streamExploreTabs .g-tabs {
		border: none !important;
	}
    .l-tabs .streamExploreTabs .g-tabs .g-tabs-link {
		font-family: "Roboto" !important;
		font-size: 15pt !important;
		font-stretch: condensed !important;
        font-weight: normal !important;
    }
	.l-tabs .streamExploreTabs .g-tabs-link.active,
    .l-tabs .streamExploreTabs .g-tabs-link:focus, 
    .l-tabs .streamExploreTabs .g-tabs-link:hover {
        border-color: transparent !important;
    }
    .soundList__item,
	.historicalPlays.m-player.lazyLoadingList .historicalPlays__item,
	.searchList__item {
        /*** STREAM SOUND LIST ITEM CONTAINER ***/
        background: #FFF !important;
        box-shadow: 0px 1px 2px rgba(0,0,0,.1) !important;
        padding: 100px 30px 30px 30px !important;
        margin-bottom: 20px !important;
    }
    .soundList__item .soundContext {
        /*** STREAM SOUND LIST ITEM UPLOADER ***/
        border-bottom: 1px solid #EBEBEB !important;
        padding: 20px !important;
        position: absolute !important;
        right: 0px !important;
        left: 0px !important;
        margin-top: -100px !important;
    }
    .soundList__item .soundContext__line {
        background-image: none !important;
        font-size: 10.5pt !important;
        line-height: 28px !important;
    }
    .soundList__item .soundContext .g-avatar-badge-avatar span {
        border-radius: 2px !important;
    }
    .soundList__item .soundContext .soundContext__line {
        padding-left: 7px !important;
    } 
 	.soundList__item .soundContext .soundContext__line.sc-font-body * {
        font-size: 10.5pt !important;
        font-weight: normal !important;
    }
    .soundList__item .sound__content,
	.historicalPlays__item .sound__content,
	.searchList__item .sound__content {
        /*** STREAM SOUND LIST ITEM CONTENT ***/
		padding-left: 15px !important;
        overflow-x: visible !important;
    }
    .soundList__item .sc-button-play,
	.historicalPlays__item .sc-button-play,
	.searchList__item .sc-button-play {
        /*** STREAM SOUND LIST ITEM PLAY BUTTON ***/
        background: #FF9F55 !important;
        border-radius: 50% !important;
    }
    .soundList__item .soundTitle__usernameTitleContainer,
	.historicalPlays__item .soundTitle__usernameTitleContainer,
	.searchList__item .soundTitle__usernameTitleContainer {
        /*** STREAM SOUND LIST ITEM TITLE ***/
        padding-left: 10px !important;
    }
    .soundList__item .soundTitle__usernameTitleContainer * {
        font-weight: normal !important;
    }
    .soundList__item .waveform__scene.waveform__layer canvas:nth-child(2),
    .soundList__item .waveform__scene.waveform__layer canvas:nth-child(3),
    .soundList__item .commentPopover,
	.historicalPlays__item canvas:nth-child(2),
	.historicalPlays__item canvas:nth-child(3),
	.historicalPlays__item .commentPopover,
	.searchList__item canvas:nth-child(2),
	.searchList__item canvas:nth-child(3),
	.searchList__item .commentPopover {
        /*** STREAM SOUND LIST ITEM VISUALIZER ***/
        display: none !important;
    }
    .soundList__item .commentForm.commentForm__transition.m-small.visible,
	.historicalPlays__item .commentForm.commentForm__transition.m-small.visible,
	.searchList__item .commentForm.commentForm__transition.m-small.visible {
        /*** STREAM SOUND LIST ITEM COMMENT ***/
        display: none !important;
    }
    .soundList__item .sc-button-group .sc-button-small,
	.historicalPlays__item .sc-button-group .sc-button-small,
	.searchList__item .sc-button-group .sc-button-small {
		background: #212121;
        border: none !important;
        border-radius: 2px !important;
        color: #FFF !important;
        font-size: 10.5pt !important;
        font-stretch: condensed !important;
        font-weight: bold !important;
		line-height: 7.5px !important;
        height: 35px !important;
        min-width: 45px !important;
		padding-right: 10px;
		padding-left: 10px;
		text-indent: 0px !important;
        text-transform: uppercase !important;
		margin-right: 6px !important;
    }
    .soundList__item .sc-button-small::before,
	.historicalPlays__item .sc-button-small::before,
	.searchList__item .sc-button-small::before {
        display: none;
    }
	.soundList__item .sc-button-like,
	.historicalPlays__item .sc-button-like,
	.searchList__item .sc-button-like {
		background: #2CC990 !important;
	}
	.soundList__item .sc-button-like.sc-button-selected,
	.historicalPlays__item .sc-button-like.sc-button-selected,
	.searchList__item .sc-button-like.sc-button-selected {
		background: #FF6766 !important;
	}
	.soundList__item .sc-button-repost,
	.historicalPlays__item .sc-button-repost,
	.searchList__item .sc-button-repost {
		background: #FF9F55 !important;
	}
	.soundList__item .sc-button-share,
	.historicalPlays__item .sc-button-share,
	.searchList__item .sc-button-share {
		background: #D4D4D4 !important;
	}
	.soundList__item .sc-button-more,
	.soundList__item .sc-button-queue,
	.historicalPlays__item .sc-button-more,
	.historicalPlays__item .sc-button-queue,
	.searchList__item .sc-button-more,
	.searchList__item .sc-button-queue {
		background: #60646D !important;
	}
	.soundList__item .soundActions__purchaseLink,
	.historicalPlays__item .soundActions__purchaseLink,
	.searchList__item .soundActions__purchaseLink {
		display: none !important;
	}
    .soundList__item .compactTrackList,
	.historicalPlays__item .compactTrackList,
	.searchList__item .compactTrackList {
        /*** STREAM SOUND LIST COMPACT TRACK LIST ***/
        border-radius: 1px !important;
    }
	.compactTrackList.expanded .compactTrackList__listContainer {
		width: 100% !important;
	}
    .soundList__item .compactTrackListItem__plays,
	.historicalPlays__item .compactTrackListItem__plays,
	.searchList__item .compactTrackListItem__plays {
        display: none !important;
    }
    .soundList__item .soundTitle__additionalContainer,
	.historicalPlays__item .soundTitle__additionalContainer,
	.searchList__item .soundTitle__additionalContainer{
        /*** STREAM SOUND LIST ITEM TAGS ***/
        font-stretch: condensed !important;
        letter-spacing: .1px !important;
        text-transform: uppercase !important;
        position: absolute !important;
        margin-top: -88px !important;
        right: -10px !important;
    }
    .soundList__item .soundTitle__tag.sc-tag.sc-tag-small,
	.historicalPlays__item .soundTitle__tag.sc-tag.sc-tag-small,
	.searchList__item .soundTitle__tag.sc-tag.sc-tag-small {
        background: #3C3741 !important;
		border: transparent !important;
        border-radius: 2px !important;
        font-size: 10.5pt !important;
        font-weight: bold !important;
        padding: 5px 10px !important;
    }
    .soundList__item .soundTitle__tag.sc-tag.sc-tag-small,
	.searchList__item .soundTitle__tag.sc-tag.sc-tag-small {
        padding: 5px 10px 7px 10px !important;
    }
	.sc-snippet-badge.sc-snippet-badge-medium.sc-snippet-badge-grey {
        display: none;
    }
    .soundList__item .sc-ministats-group,
	.historicalPlays__item .sc-ministats-group,
	.searchList__item .sc-ministats-group {
        display: none !important;
    }
    .l-sidebar-right {
		/*** STREAM SIDEBAR ***/
        top: 78px !important;
        margin-right: 40px !important;
    }
    .l-sidebar-right .sidebarModule {
		/*** STREAM SIDEBAR CONTAINER ***/
        background: #FFF !important;
        box-shadow: 0px 1px 2px rgba(0,0,0,.1) !important;
        padding: 22px !important;
    }
	.l-sidebar-right .sidebarModule .sidebarHeader {
		/*** STREAM SIDEBAR CONTAINER HEADER ***/
		border-bottom: 1px solid #EBEBEB !important;
		padding: 0px 20px 15px 20px !important;
		margin: -7px -25px 8px -25px !important;
	}
	.l-sidebar-right .sidebarModule .sidebarHeader .sc-icon-large {
		visibility: hidden;
		margin-left: -19px !important;
	}
	.l-sidebar-right .sidebarModule .sidebarHeader .sidebarHeader__more.sc-type-h3 {
		color: transparent !important;
		width: 5px !important;
	}
    .l-sidebar-right .sidebarModule .sidebarHeader .sidebarHeader__title {
        font-size: 12pt !important;
        font-stretch: condensed !important;
        font-weight: normal !important;
    }
	.l-sidebar-right .sidebarModule a[href*="likes"] .sidebarHeader__more.sc-type-h3::before, 
	.l-sidebar-right .sidebarModule a[href*="history"] .sidebarHeader__more.sc-type-h3::before {
		background: no-repeat url("https://i.imgur.com/fkIEJ1T.png") center !important;
		background-size: cover !important;
		content: "" !important;
		padding: 20px 20px 0px 0px;
		position: absolute !important;
		margin-top: 8px !important;
		margin-left: -15px !important;
		opacity: .5 !important;
	}
	.l-sidebar-right .sidebarModule .soundBadge__content {
	/*** STREAM SIDEBAR CONTAINER CONTENT ***/
		margin-top: 9px !important;
	}
    .l-sidebar-right .sidebarModule .sc-media-content * {
        font-weight: normal !important;
    }
	.l-sidebar-right .sidebarModule .userSuggestion {
		margin-top: -5px !important;
		margin-bottom: -5px !important;
	}
	.l-sidebar-right .sidebarModule .userBadge__usernameLink {
		margin-top: 11px !important;
		margin-left: 5px !important;
	}
	.l-sidebar-right .sidebarModule .sc-button-follow {
		background: #FF9F55 !important;
		border: none !important;
		border-radius: 2px !important;
		color: #FFF !important;
		font-size: 10.5pt !important;
		font-stretch: condensed !important;
		font-weight: bold !important;
		height: 29px !important;
		width: auto !important;
		text-transform: uppercase !important;
		margin-top: -6px !important;
	}
	.l-sidebar-right .sidebarModule .soundBadge__artwork .sc-artwork {
		border-radius: 50% !important;
	}
	.l-sidebar-right .sidebarModule .sc-ministats-group {
		display: none !important;
	}
	.l-sidebar-right .sidebarModule .sc-button-large.sc-button-play, 
	.l-sidebar-right .sidebarModule .sc-button-large.sc-button-pause {
		background-color: #FF9F55 !important;
		height: 50px !important;
		width: 50px;
		position: absolute !important;
		top: -1px !important;
		left: -1px !important;
		opacity: .7 !important;
	}
	.l-sidebar-right .sidebarModule .soundBadge.compact .soundBadge__additional {
		display: none !important;
	}
	
/* CHART */
/** DESCRIPTION : change the elements of the chart page **/
	.sc-button-dropdown:not(.sc-button-disabled):not(:disabled) {
		border: 1px solid #BEBEBE !important;
		border-radius: 1px !important;
		color: #7E7E7E !important;
	}
	.sc-button-dropdown.sc-button-active:not(.sc-button-dropdown-plain), 
	.sc-button-dropdown:hover:not(.sc-button-dropdown-plain),
	.sc-button-dropdown:focus:not(.sc-button-disabled):not(:disabled) {
		outline: none !important;
		background: #FFF !important;
		box-shadow: none !important;
	}
	.chartsMain__tagline {
		font-size: 14pt !important;
		font-stretch: condensed !important;
		margin-bottom: 20px !important;
	}
	.chartsMain_listHeader {
		padding: 20px !important;
	}
	.chartTracks {
		background: #FFF !important;
		box-shadow: 0px 1px 2px rgba(0,0,0,.1) !important;
		padding: 60px 20px 20px 20px !important;
		margin-top: -70px !important;
	}
	.chartTracks .sc-ministats {
		font-size: 12pt !important;
		font-stretch: condensed !important;
	}
	.chartTracks .sc-ministats-medium.sc-ministats-plays::before {
		display: none !important;
	}
	
/* DISCOVER */
/** DESCRIPTION : change the elements of the discover page **/
	.selectionModule__titleText {
		color: #212121 !important;
		font-size: 17pt !important;
		font-stretch: condensed !important;
		font-weight: normal !important;
	}
	.selectionModule__description.sc-type-small.sc-type-light {
		font-size: 12pt !important;
	}
	.selectionPlaylists {
		background: #FFF !important;
		box-shadow: 0px 1px 2px rgba(0,0,0,0.1) !important;
		padding: 30px !important;
	}

/* USER */
/** DESCRIPTION : change the elements of the user page **/
    .l-vertical-bar {
        /*** USER NAVIGATION BAR ***/
        background: rgba(255,255,255,.98) !important;
        border-bottom: 1px solid #EBEBEB !important;
        width: 100% !important;
        position: fixed !important;
        top: 46px !important;
        right: 0px !important;
        left: 0px !important;
        z-index: 999 !important;
    }
    .l-vertical-bar .userInfoBar {
        padding: 13px 20px 14px 20px !important;
    }
    .l-vertical-bar .userInfoBar .g-tabs {
        border-bottom: none;
		font-size: 15pt !important;
		font-stretch: condensed !important;
    }
    .l-vertical-bar .userInfoBar .g-tabs-link.active, 
    .l-vertical-bar .userInfoBar .g-tabs-link:hover {
        border: none !important;
    }
    .l-vertical-bar .userInfoBar__buttons {
        right: 19px !important;
        bottom: 19px !important;
    }
    .l-vertical-bar .sc-button-medium {
        border-radius: 2px !important;
        font-stretch: condensed !important;
        font-weight: bold !important;
    	text-indent: 0px !important;
        text-transform: uppercase !important;
    }
	.l-vertical-bar .sc-button {
		line-height: 18px !important;
	}
    .l-vertical-bar .sc-button-startstation,
	.l-vertical-bar .sc-button-message {
        color: #60646D;
		letter-spacing: .4px !important;
    }
    .l-vertical-bar .sc-button-edit {
        background: #97CE68 !important;
        border: 1px solid transparent;
        color: #FFF;
        padding-bottom: 8px !important;
    }
    .l-vertical-bar .sc-button-follow {
        background: #FF9F55 !important;
        border: 1px solid transparent;
        padding-bottom: 8px !important;
    }
	.l-vertical-bar .sc-button-follow.sc-button-selected {
    	color: #FFF !important;          
        padding-bottom: 8px !important;
    }
    .l-vertical-bar .sc-button-share {
        background: #60646D !important;
        border: 1px solid transparent;
        color: #FFF;
		padding-bottom: 8px !important;
    }
    .l-vertical-bar .sc-button-more {
        background: #D4D4D4 !important;
        border: 1px solid transparent;
        color: #FFF;
        padding-bottom: 8px !important;
    }
	.dropdownMenu {
		z-index: 999 !important;
	}
	.l-vertical-bar .sc-button-medium.sc-button-medium::before {
        display: none;
    }
    .userMain .dropbar {
    	/*** USER DROP BAR ***/
        display: none !important;
    }
    .l-user-hero {
        /*** USER BANNER ***/
		width: 100% !important;
		margin: auto !important;
		position: absolute !important;
		left: 0px !important;
		z-index: 999 !important;
    }
    .profileHeaderBackground.m-visualLoaded,
	.profileHeaderBackground.m-visualLoaded .profileHeaderBackground__visual {
        background-size: cover !important;
        background-position: center !important;
    }
	.profileHeaderInfo.sc-media {
		margin-left: 30px !important;
	}
    .l-user-hero .sc-artwork {
        border-radius: 1px !important;
    }
    .profileHeaderInfo__content h3,
	.profileHeaderInfo__content h4 {
		border-radius: 2px !important;
        font-weight: normal !important;
        padding: 10px 13px !important;
		margin-bottom: 10px !important;
    }
    .featuredProfiles__wrapper * {
        font-weight: normal !important;
    }
	.l-main.l-user-main.sc-border-light-right {
		/*** USER CONTAINER ***/
		margin-top: 350px !important;
	}
	.l-user-sidebar-right {
		margin-top: 330px !important;
	}
    .userMain__content .soundList__item {
        /*** USER SOUND LIST ITEM ***/
        padding: 70px 30px 30px 30px !important;
    }
    .spotlightTitle,
	.spotlight__recent {
        color: #7E7E7E !important;
        font-size: 14pt !important;
        font-stretch: condensed !important;
    }
    .userMain__content .spotlight__item {
        border-radius: 1px !important;
    }
    .userMain__content .userStreamItem {
        border-top: 1px solid #EBEBEB !important;
        padding: 30px !important;
        margin-right: -30px !important;
        margin-left: -30px !important;
    }
    .userMain__content .soundTitle__additionalContainer {
        width: 100% !important;
    }
    .userMain__content .soundTitle__uploadTime {
        font-size: 10.5pt !important;
        font-weight: bold !important;
        line-height: 31px;
        position: absolute !important;
        margin-left: -200px !important;
    }
	.userMain__content .sound__footerRight {
    	display: none !important;                                        
    }
	.userSidebar .infoStats {
    	/*** USER SIDEBAR ***/
        background: #FFF !important;
    	box-shadow: 0px 1px 2px rgba(0,0,0,0.1) !important;
        padding: 20px !important;
        margin-top: -57px !important;
        margin-bottom: 20px !important;
	}
    .userSidebar .infoStats .infoStats__title, 
	.userSidebar .infoStats .infoStats__value {
        font-stretch: condensed !important;
        font-weight: normal !important;
    }
    .userSidebar .infoStats .infoStats__title {
        font-size: 11pt !important;
    }
    .userSidebar .infoStats .truncatedUserDescription__content,
    .userSidebar .infoStats .web-profiles {
        font-size: 10pt !important;
    }
	.userSidebar .commentBadgeList .commentBadgeList__item {
		padding: 16px 20px 18px 20px !important;
		margin-right: -23px !important;
		margin-left: -23px !important;
	}
	.userSidebar .commentBadgeList .commentBadge__title {
		font-size: 10.5pt !important;
	}
	.userSidebar .commentBadgeList .commentBadge__body {
		font-size: 10.5pt !important;
		margin-top: 10px !important;
	}
	
/* TRACK */
/** DESCRIPTION : change the elements of the track page **/
	.fullListenHero.fullHero.l-inner-fullwidth,
	.systemPlaylistHero {
		/*** TRACK LISTENING HEADER ***/
		position: absolute !important;
		left: 30px !important;
		right: 30px !important;
		margin-top: -64px !important;
	}
	.l-station-hero.l-inner-fullwidth {
		position: absolute !important;
		top: 46px !important;
		right: 0px !important;
		left: 0px !important;
	}
	.l-station-hero.l-inner-fullwidth .sc-button-like.sc-button.sc-button-small.sc-button-responsive {
		background: #47B39D;
        border: none !important;
        border-radius: 2px !important;
        color: #FFF !important;
        font-size: 10.5pt !important;
        font-stretch: condensed !important;
        font-weight: bold !important;
		line-height: 7.5px !important;
        height: 35px !important;
        min-width: 45px !important;
		padding-right: 13px;
		padding-left: 13px;
		text-indent: 0px !important;
        text-transform: uppercase !important;
		margin-right: 6px !important;
	}
	.l-station-hero.l-inner-fullwidth .sc-button-small.sc-button-like::before {
		display: none;
	}
	.l-listen-hero .soundTitle__playButton.soundTitle__playButtonHero {
		height: 340px !important;
		width: 340px !important;
		position: absolute !important;
		top: 19px !important;
		right: 10px !important;
		z-index: 999 !important;
		opacity: 0 !important;
		transition: all .3s ease-in-out !important;
	}
	.systemPlaylistHero .sc-button-play.playButton.sc-button.m-stretch {
		height: 340px !important;
		width: 340px !important;
		position: absolute !important;
		top: 19px !important;
		right: 20px !important;
		z-index: 999 !important;
		opacity: 0 !important;
		transition: all .3s ease-in-out !important;
	}
	.l-listen-hero .soundTitle__playButton.soundTitle__playButtonHero:hover,
	.systemPlaylistHero .sc-button-play.playButton.sc-button.m-stretch:hover {
		opacity: 1 !important;
		transition: all .3s ease-in-out !important;
	}
	.l-listen-hero .playButton.m-stretch,
	.systemPlaylistHero .playButton.m-stretch {
		background-color: rgba(252, 185, 65,.8);
		border-radius: 1px !important;
		border-color: transparent; 
	}
	.l-listen-hero .soundTitle__username {
		border-radius: 2px !important;
		padding: 8px 14px !important;
		position: absolute;
		margin-top: 0px !important;
	}
	.systemPlaylistHero .fullHero__titleTextLineSmall span {
		border-radius: 2px !important;
		padding: 8px 14px !important;
		position: absolute;
		top: 30px !important;
		left: 30px !important;
	}
	.l-listen-hero .soundTitle__title {
		border-radius: 2px !important;
		padding: 12px 20px !important;
		position: absolute !important;
		margin-top: 40px !important;
		max-width: 600px !important;
		overflow: hidden !important;
		text-overflow: ellipsis !important;
		white-space: nowrap !important;
	}
	.systemPlaylistHero .fullHero__titleTextLine.fullHero__titleTextLineBig span {
		border-radius: 2px !important;
		padding: 12px 20px !important;
		position: absolute !important;
		top: 80px !important;
		left: 30px !important;
		max-width: 600px !important;
		overflow: hidden !important;
		text-overflow: ellipsis !important;
		white-space: nowrap !important;
	}
	.l-listen-hero .inPlaylist {
		background: #212121 !important;
		border-radius: 2px !important;
		padding: 18px 25px !important;
		position: absolute !important;
		margin-top: 100px !important;
		left: -69px !important;
	}
	.l-listen-hero .sc-tag {
        background: #60646D !important;
		border: transparent !important;
        border-radius: 2px !important;
        font-size: 10pt !important;
        font-weight: bold !important;
        padding: 5px 10px !important;
	}
	.l-listen-wrapper .l-about-rows {
		/*** TRACK MAIN CONTAINER ***/
		background: #FFF !important;
		border-right: none !important;
		box-shadow: 0px 1px 2px rgba(0,0,0,.1) !important;
		padding: 30px !important;
		margin-top: 350px !important;
		margin-right: 30px !important;
		margin-bottom: 30px !important;
	}
	.l-main.l-station-main {
		margin-top: 540px !important;
	}
	.listenNetworkSidebar {
		margin-top: 293px !important;
	}
	.l-listen-hero .genericTrackCount,
	.systemPlaylistHero .genericTrackCount {
		background-color: #60646D !important;
		border-radius: 2px !important;
		font-stretch: condensed !important;
		position: absolute !important;
		margin-top: -125px !important;
	}
	.l-listen-hero .genericTrackCount__subtitle.sc-font,
	.systemPlaylistHero .genericTrackCount__subtitle.sc-font {
		font-size: 10pt !important;
		font-weight: bold !important;
		margin-bottom: 2px !important;
	}
	.l-hero-content .l-main.sc-border-light-right {
		/*** TRACK PLAYLIST MAIN CONTAINER ***/
		background: #FFF !important;
		box-shadow: 0px 1px 2px rgba(0,0,0,.1) !important;
		padding: 40px !important;
		margin-top: 370px !important;
	}
	.l-hero-content .l-main {
		background: #FFF !important;
		box-shadow: 0px 1px 2px rgba(0,0,0,.1) !important;
		padding: 40px !important;
		margin-top: 370px !important;
		margin-right: 30px !important;
	}
	.systemPlaylistDetails__controls.sc-border-light-bottom {
		border: none !important;
	}
	.systemPlaylistDetails__controls .sc-button-medium.sc-button-queue,
	.systemPlaylistDetails__controls .sc-button-medium.sc-button-addtoset {
		background: #000;
        border: none !important;
        border-radius: 2px !important;
        color: #FFF !important;
        font-size: 10.5pt !important;
        font-stretch: condensed !important;
        font-weight: bold !important;
		line-height: 7.5px !important;
        height: 35px !important;
        min-width: 45px !important;
		padding-right: 13px;
		padding-left: 13px;
		text-indent: 0px !important;
        text-transform: uppercase !important;
		margin-right: 6px !important;
	}
	.systemPlaylistDetails__controls .sc-button-medium.sc-button-queue {
		background: #EB6361 !important;
	}
	.systemPlaylistDetails__controls .sc-button-medium.sc-button-addtoset {
		background: #FEC606 !important;
	}
	.systemPlaylistDetails__controls .sc-button-medium.sc-button-queue::before,
	.systemPlaylistDetails__controls .sc-button-medium.sc-button-addtoset::before {
		display: none;
	}
	.l-hero-content .l-main .systemPlaylistTrackList {
		border: 1px solid #EBEBEB !important;
	}
	.l-hero-content .l-main .systemPlaylistTrackList .trackItem {
		padding-left: 8px !important;
	}
	.l-hero-content .l-main .systemPlaylistTrackList .trackItem.g-flex-row.sc-type-small.sc-type-light:hover {
		margin: 0px !important;
		padding: 0px 8px !important;
	}
	.l-hero-content .l-sidebar-right {
		top: 390px !important;
	}
	.l-listen-wrapper .l-about-row .l-about-top {
		/*** TRACK MAIN CONTAINER ACTION ROW ***/
		border-bottom: 1px solid #EBEBEB !important;
		padding: 0px 30px 20px 30px;
		margin-right: -30px !important;
		margin-bottom: 20px;
		margin-left: -30px !important;
	}
	.l-listen-wrapper .l-about-row .l-about-top .listenEngagement {
		border: none !important;
		box-shadow: none !important;
	}
	.l-listen-wrapper .l-about-row .commentForm__wrapper {
		background: #F0F1F5 !important;
		border: 1px solid #EBEBEB !important
	}
	.l-listen-wrapper .l-about-row .commentForm__wrapper .sc-artwork {
		border: 1px solid #EBEBEB !important;
		height: 38px !important;
		width: 38px !important;
	}
	.l-listen-wrapper .l-about-row .commentForm.m-large .commentForm__input {
		background: transparent !important;
		border: none !important;
		font-size: 12pt !important;
		font-stretch: condensed !important;
		letter-spacing: .1px !important;
		text-transform: lowercase !important;
	}
    .l-listen-wrapper .l-about-row .sc-button-medium {
		background: #212121;
        border: none !important;
        border-radius: 2px !important;
        color: #FFF !important;
        font-size: 10.5pt !important;
        font-stretch: condensed !important;
        font-weight: bold !important;
		line-height: 7.5px !important;
        height: 35px !important;
        min-width: 45px !important;
		padding-right: 10px;
		padding-left: 10px;
		text-indent: 0px !important;
        text-transform: uppercase !important;
		margin-top: 10px !important;
		margin-right: 6px !important;
    }
    .l-listen-wrapper .l-about-row .sc-button-medium::before {
        display: none;
    }
	.l-listen-wrapper .l-about-row .sc-button-like {
		background: #2CC990 !important;
	}
	.l-listen-wrapper .l-about-row .sc-button-like.sc-button-selected {
		background: #FF6766 !important;
	}
	.l-listen-wrapper .l-about-row .sc-button-repost {
		background: #FF9F55 !important;
	}
	.l-listen-wrapper .l-about-row .sc-button-share {
		background: #D4D4D4 !important;
	}
	.l-listen-wrapper .l-about-row .sc-button-more,
	.l-listen-wrapper .l-about-row .sc-button-queue {
		background: #60646D !important;
	}
	.l-listen-wrapper .l-about-row .soundActions__purchaseLink {
		display: none !important;
	}
	.l-listen-wrapper .l-about-row .listenEngagement__stats {
		margin-top: 16px !important;
		visibility: hidden;
	}
	.l-listen-wrapper .l-about-row  .image__lightOutline .image__full {
		border: 1px solid #EBEBEB !important;
		border-radius: 2px !important;
		box-shadow: none !important;
	}
	.l-listen-wrapper .l-listen__mainContent {
		/*** TRACK MAIN CONTAINER DESCRIPTION ROW ***/
		margin-top: 30px !important;
	}
	.l-listen-wrapper .l-about-row .userBadge__actions .sc-button-follow {
		background: #FF9F55 !important;
		border: none !important;
		border-radius: 2px !important;
		color: #FFF !important;
		font-size: 10.5pt !important;
		font-stretch: condensed !important;
		font-weight: bold !important;
		height: 29px !important;
		width: auto !important;
		padding-right: 10px !important;
		padding-left: 10px !important;
		text-transform: uppercase !important;
		margin-top: 10px !important;
	}
	.l-listen-wrapper .userBadge__avatar .g-avatar-badge {
		overflow: visible !important;
	}
	.l-listen-wrapper .userBadge__stats {
		display: none !important;
	}
	.l-listen-wrapper .userBadge__title .sc-truncate {
		font-size: 12pt !important;
		font-stretch: condensed !important;
		margin-top: 20px !important;
	}
	.l-listen-wrapper .l-about-row .truncatedAudioInfo__collapse,
	.truncatedUserDescription.m-overflow .truncatedUserDescription__collapse {
		background: #25373D !important;
		border-radius: 2px !important;
		color: #FFF !important;
		font-size: 12pt !important;
		font-stretch: condensed !important;
		padding: 5px 3px 6px 3px !important;
		width: 100px !important;
		text-align: center !important;
		text-transform: lowercase !important;
	}
	.l-listen-wrapper .l-about-row .g-link-collapse.collapsed::after,
	.l-listen-wrapper .l-about-row .g-link-collapse::after,
	.truncatedUserDescription.m-overflow .truncatedUserDescription__collapse:after {
		display: none !important;
	}
	.l-listen-wrapper .truncatedAudioInfo__wrapper::after {
		display: none;
	}
    .l-listen-wrapper .sc-tag.sc-tag-medium {
        background: #00B5B5 !important;
		border: transparent !important;
        border-radius: 2px !important;
		font-stretch: condensed !important;
        font-size: 10.5pt !important;
        font-weight: bold !important;
        padding: 5px 10px 7px 10px !important;
		text-transform: uppercase;
    }
	.l-listen-wrapper .listenDetails__trackList {
		border: 1px solid #EBEBEB !important;
	}
	.l-listen-wrapper .listenDetails__trackList .sc-border-light-bottom {
		border-bottom: 1px solid #f2f2f2;
		padding: 3px 10px !important;
	}
	.trackItem.hover,
	.trackItem.active {
		background: transparent !important;
	}
	.trackItem:not(.m-disabled).hover .trackItem__additional, 
	.trackItem:not(.m-disabled).active .trackItem__additional,
	.trackItem__additional {
		display: none !important;
	}
	.l-listen-wrapper .commentsList.g-box-full.lazyLoadingList {
		/*** TRACK MAIN CONTAINER DESCRIPTION ROW COMMENTS ***/
		background: #FFF !important;
		border: 1px solid #EBEBEB;
		padding: 30px 30px 120px 30px !important;
		left: 5px !important;
		margin-top: 54px !important;
		width: auto !important;
	}
	.l-listen-wrapper .commentsList .sc-clearfix {
		padding: 0px 20px 15px 20px !important;
		margin-top: -10px !important;
		margin-right: -30px !important;
		margin-left: -30px !important;
		margin-bottom: 20px !important;
	}
	.l-listen-wrapper .commentsList .sc-clearfix .commentsList__actualTitle {
		font-size: 12pt !important;
		font-stretch: condensed !important;
		margin-bottom: 20px !important;
	}
	.l-listen-wrapper .commentItem.m-creatorComment {
		border-radius: 2px !important;
		margin-bottom: 20px !important;
	}
	.l-listen-wrapper .commentsList .commentItem.m-isReply {
		border-left: 2px solid #EBEBEB !important;
		padding-left: 20px !important;
	}
	.l-listen-wrapper .commentsList .commentItem.m-isReply.m-creatorComment {
		background: transparent !important;
		border-left: 2px solid #F29B34 !important;
		margin-left: 20px !important;
	}
	.l-listen-wrapper .commentsList .sc-clearfix .sc-icon {
		display: none !important;
	}
	.l-listen-wrapper .commentsList .commentsList__item .commentItem__avatar .sc-artwork {
		border: none !important;
		border-radius: 2px !important;
		box-shadow: 0px 1px 2px rgba(0,0,0,.1) !important;
	}
	.l-listen-wrapper .commentsList .commentItem__content * {
		font-size: 11pt !important;
	}
	.l-listen-wrapper .commentsList .commentItem__createdAt.sc-text-light {
		font-size: 12.5pt !important;
		font-stretch: condensed !important;
	}
	.sc-button.sc-button-responsive.sc-button-reply.sc-button-small.commentItem__replyButton {
        background: #60646D !important;
        border: none !important;
        border-radius: 2px !important;
        color: #FFF !important;
        font-size: 10pt !important;
        font-stretch: condensed !important;
        font-weight: bold !important;
		line-height: 20px !important;
        height: 25px !important;
        padding-left: 14px !important;
        padding-right: 14px !important;
		text-indent: 0px !important;
        text-transform: uppercase !important;
	}
	.sc-button-small.sc-button-reply::before {
		display: none !important;
	}
	
/* SEARCH */
/** DESCRIPTION : change the elements of the search page **/
	.l-search.l-fixed-fluid {
		/*** SEARCH CONTAINER ***/
		margin-top: -60px !important;
	}
	.l-search .searchTitle {
		/*** SEARCH TITLE ***/
		background: rgba(255,255,255,.98) !important;
		border-bottom: 1px solid #EBEBEB !important;
		padding: 20px 20px 22px 20px !important;
		width: 100% !important;
		position: fixed !important;
		top: 46px !important;
		right: 0px !important;
		left: 0px !important;
	}
	.l-search .searchTitle .searchTitle__text {
		border-bottom: none !important;
		font-size: 15pt !important;
		font-stretch: condensed !important;
		font-weight: normal !important;
	}
	.l-search .searchResultGroupHeading * {
		font-family: "Roboto" !important;
		font-size: 15pt !important;
		font-stretch: condensed !important;
        font-weight: normal !important;	
		margin-bottom: 30px !important;
	}
	.searchPremiumContentHeader.sc-type-light.sc-type-h3 {
		margin-bottom: 20px !important;
		font-stretch: condensed !important;
		font-size: 14pt !important;
	}
	.l-search .userItem .sc-media-content {
		/** SEARCH LIST ITEM ***/
		width: 100% !important;
		position: absolute !important;
		top: -70px !important;
		right: 0px !important;
		left: 0px !important;
	}
	.l-search .userItem__coverArt {
		height: 100px !important;
		width: 100px !important;
		position: absolute;
		top: -70px !important;
		right: 0px !important;
	}
	.l-search .userItem__coverArt .image,
	.l-search .userItem__coverArt .image .sc-artwork {
		width: inherit !important;
		height: inherit !important;
	}
	.l-search .sc-button-follow,
    .l-search .sc-button-follow.sc-button-selected {
		background: #FF9F55 !important;
		border: none !important;
		border-radius: 2px !important;
		color: #FFF !important;
		font-size: 10.5pt !important;
		font-stretch: condensed !important;
		font-weight: bold !important;
		height: 29px !important;
		width: 64px !important;
		text-transform: uppercase !important;
		margin-top: 0px !important;
	}
	.l-search .l-fixed-left .searchOptions__scrollableInner.g-scrollable-inner {
		overflow: visible !important;
	}
	.l-search .l-fixed-left .searchOptions__scrollableInner .searchOptions__container {
		/*** SEARCH SIDEBAR ***/
		background: #FFF !important;
		border: 1px solid #EBEBEB !important;
		height: auto !important;
		padding: 20px 30px !important;
	}
	.l-search .g-nav-item.active > .g-nav-link,
	.l-search .searchOptions__navigationItem.active {
		background: transparent !important;
		color: #7E7E7E !important;
		text-shadow: none !important;
	}
	.l-search .l-fixed-left .g-nav-item > .g-nav-link {
		padding-left: 0px !important;
	}
	.l-search .l-fixed-left .searchTags__location {
		margin-left: 0px !important;
	}
	.l-search .l-fixed-left .searchOptions__scrollableInner .g-nav-item * {
		background: none !important;
	}
	.l-search .l-fixed-left .searchOptions__footer,
	.l-search .l-fixed-left .g-nav-item.g-nav-item-sounds.searchOptions__navigation-high_tier.searchOptions__navigationItem,
	.l-search .l-fixed-left .sc-icon {
		display: none !important;
	}
	.l-search .l-fixed-left .sc-border-light-top,
	.l-search .l-fixed-left .searchTags__title {
		border-top: none !important;
		font-size: 12pt !important;
	}
	.l-search .l-fixed-left .searchOptions__filterCategory {
		padding: 5px 0px !important;
	}
	.l-search .l-fixed-left .sc-tag  {
        background: #60646D !important;
		border: transparent !important;
        border-radius: 2px !important;
        font-size: 10pt !important;
        font-weight: bold !important;
        padding: 5px 10px !important;
	}

/* COLLECTION */
/** DESCRIPTION : change the elements of the collection page **/
    .l-nav,
	.l-fixed-top-one-column .l-top {
    	/*** COLLECTION NAVIGATION BAR ***/
        background: rgba(255,255,255,0.98) !important;
        border-bottom: 1px solid #EBEBEB !important;
        padding: 15px 20px 18px 20px !important;
        position: fixed !important;
        top: 16px !important;
        right: 0px !important;
        left: 0px !important;
        z-index: 999 !important;
    }
	.l-one-column > .l-main > div > h1 {
		background: rgba(255,255,255,.98) !important;
		border-bottom: 1px solid #EBEBEB !important;
		font-size: 17pt !important;
		font-stretch: condensed !important;
		font-weight: normal !important;
		padding: 20px 20px 22px 20px !important;
		width: 100% !important;
		position: fixed !important;
		top: 47px !important;
		left: 0px !important;
	}
	.l-fixed-top-one-column .l-top {
		padding: 20px 25px 23px 25px !important;
		height: 135px !important;
        width: 100% !important;
        top: 46px !important;
        left: 31px !important;
    }
	.l-fixed-top-one-column .l-top .g-avatar-badge {
		height: 40px !important;
		width: 40px !important;
		margin-top: 5px !important;
	}
	.l-fixed-top-one-column .l-top .g-avatar-badge .image,
	.l-fixed-top-one-column .l-top .g-avatar-badge .image .sc-artwork {
		height: inherit !important;
		width: inherit !important;
	}
	.l-fixed-top-one-column .l-top .userNetworkTop__title.sc-truncate {
		font-stretch: condensed !important;
		padding-top: 3px !important;
		margin-bottom: 10px !important;
		margin-left: -3px !important;
	}
    .l-nav .collectionNav.g-tabs.g-tabs-large {
        border: none !important;
    }
    .l-nav .g-tabs-link,
	.l-fixed-top-one-column .l-top .g-tabs {
        border-bottom: none !important;
        font-family: "Roboto" !important;
        font-size: 15pt !important;
        font-stretch: condensed !important;
        font-weight: normal !important;
    }
    .l-nav .g-tabs-link, 
    .l-nav .g-tabs-link:visited,
	.l-fixed-top-one-column .l-top .g-tabs-link, 
    .l-fixed-top-one-column .l-top .g-tabs-link:visited {
        border-bottom: none !important;
    }
    .l-collection .collectionSection__top.g-flex-row-centered-spread,
	.playHistory,
	.suggestedUserList__listContainer {
        /*** COLLECTION HEADER ***/
        margin-top: 22px !important;
    }
	.l-main .userNetwork {
		margin-top: -60px;
	}
	.collection.m-overview {
		margin-top: 10px !important;
	}
    .l-collection .collectionSection__subHeading,
	.l-collection .listDisplayToggle__title,
	.l-collection .playHistory__subHeading,
	.collectionSection__heading,
	.suggestedUserList__follow h2,
	.recommendedStations__heading {
		font-size: 14pt !important;
        font-weight: normal !important;
        font-stretch: condensed !important;
    }
	.collection__oneRowSection {
		/*** COLLECTION SECTION ***/
		margin-bottom: -20px !important;
	}
    .l-collection .sound,
	.l-main .userNetwork .sound,
	.l-search .searchList__item .sound {
        /*** COLLECTION SOUND LIST ***/
        border-top: 1px solid #EBEBEB !important;
        padding: 30px !important;
        margin-top: -30px !important;
        margin-right: -30px !important;
        margin-left: -30px !important;
    }
	.l-collection .collection__likesSection .soundTitle__additionalContainer,
	.historicalPlays__item .soundTitle__additionalContainer,
	.l-main .userNetwork .soundTitle__additionalContainer,
	.l-search .searchList__item .soundTitle__additionalContainer {
        width: 100% !important;
    }
	.l-collection .soundTitle__uploadTime,
	.l-main .userNetwork .soundTitle__uploadTime,
	.l-search .searchList__item .soundTitle__uploadTime {
        font-size: 10.5pt !important;
        font-weight: bold !important;
        line-height: 31px;
        position: absolute !important;
        margin-left: -200px !important;
    }
	.l-collection .sound__footerRight {
    	display: none !important;                                        
    }
    .l-collection .collectionSection__filterText .textfield__input {
		font-size: 11pt !important;
        font-stretch: condensed !important;
        font-weight: normal !important;
		padding-left: 8px !important;
    }
    .l-collection .textfield__input {
        border-radius: 1px !important;
    }
    .l-collection .sc-button-dropdown {
        border-radius: 1px !important;
        font-stretch: condensed !important;
        font-weight: normal !important;
    }
    .l-collection .playableTile__descriptionContainer *, 
    .l-collection .playableTile__usernameHeadingContainer *,
	.l-collection .userBadgeListItem__heading {
        font-weight: normal !important;
    }
    .l-collection .playableTile__descriptionContainer .sc-icon.sc-icon-large {
        display: none !important;
    }
    .l-collection .userBadgeListItem__action .sc-button-follow,
    .l-collection .userBadgeListItem__action .sc-button-follow.sc-button-selected,
	.l-main .userNetwork .userBadgeListItem__action .sc-button-follow,
    .l-main .userNetwork .userBadgeListItem__action .sc-button-follow.sc-button-selected,
	.suggestedUserList__listContainer .sc-button-follow,
	.suggestedUserList__listContainer .sc-button-follow.sc-button-selected {
		background: #FF9F55 !important;
		border: none !important;
		border-radius: 2px !important;
		color: #FFF !important;
		font-size: 10.5pt !important;
		font-stretch: condensed !important;
		font-weight: bold !important;
		height: 29px !important;
		width: auto !important;
		text-transform: uppercase !important;
	}
	.l-collection .sc-button.collectionSection__action {
		border-radius: 1px !important;
		color: #7E7E7E !important;
		font-size: 12pt !important;
		font-stretch: condensed !important;
		font-weight: normal !important;
		height: 31px !important;
		padding-right: 12px !important;
		padding-left: 12px !important;
		text-transform: lowercase !important;
	}
	.userNetworkCommentsList {
		background: #FFF !important;
		box-shadow: 0px 1px 2px rgba(0,0,0,.1) !important;
	}
	.userNetworkCommentsList .userNetworkComments__item {
		padding: 18px 22px !important;
	}
	.userNetworkCommentsList .userNetworkComments__item .commentBadge__title,
	.userNetworkCommentsList .relativeTime {
		font-size: 11pt !important;
	}
	
/* UPLOAD */
/** DESCRIPTION : change the elements of the upload page **/
	.l-creators-navigation.l-inner-fullwidth {
		background: rgba(255,255,255,.98) !important;
		border-bottom: 1px solid #EBEBEB !important;
		padding: 0px 10px 4px 10px !important;
		position: fixed !important;
		top: 46px !important;
		right: 0px !important;
		left: 0px !important;
	}
	.creatorsNavigation__list {
		border: none !important;
		width: 95% !important;
	}
	.creatorsNavigation__list .g-tabs {
		border: none !important;
	}
    .creatorsNavigation__list .g-tabs-item .g-tabs-link {
		font-family: "Roboto" !important;
		font-size: 15pt !important;
		font-stretch: condensed !important;
        font-weight: normal !important;
    }
	.creatorsNavigation__list .g-tabs-link.active,
    .creatorsNavigation__list .g-tabs-link:focus, 
    .creatorsNavigation__list .g-tabs-link:hover {
        border-color: transparent !important;
    }
	.l-main.l-inner-fullwidth {
		background: #FFF !important;
		box-shadow: 0px 1px 2px rgba(0,0,0,.1) !important;
		padding: 20px !important;
		margin-top: 80px !important;
	}
	
/* MESSAGES */
/** DESCRIPTION : change the elements of the messages page **/
	.l-messages-left .inbox h1 {
		background: rgba(255,255,255,.98) !important;
		border-bottom: 1px solid #EBEBEB !important;
		font-size: 19pt !important;
		font-stretch: condensed !important;
		padding: 20px 20px 22px 20px !important;
		position: fixed !important;
		top: 46px !important;
		right: 0px !important;
		left: 0px !important;
		z-index: 99 !important;
	}
	.l-messages-main {
		background: #FFF !important;
		box-shadow: 0px 1px 2px rgba(0,0,0,.1) !important;
		padding: 30px !important;
		margin-top: 100px !important;
		margin-left: 320px !important;
	}
	.l-messages-main .conversation__actions.sc-border-box.g-z-index-content {
		background: transparent !important;
		border-bottom: 1px solid #EBEBEB !important;
		width: 860px !important;
		padding-right: 15px !important;
		margin-right: 0px !important;
		margin-top: -44px !important;
	}
	.l-messages-main .conversation__actions.sc-border-box.g-z-index-content .sc-button-group .sc-button.sc-button-small.sc-button-responsive {
		background: #7E7E7E;
        border: none !important;
        border-radius: 2px !important;
        color: #FFF !important;
        font-size: 10.5pt !important;
        font-stretch: condensed !important;
        font-weight: bold !important;
		line-height: 7.5px !important;
        height: 35px !important;
        min-width: 45px !important;
		padding-right: 13px;
		padding-left: 13px;
		text-indent: 0px !important;
        text-transform: uppercase !important;
		margin-right: 6px !important;
	}
	.l-messages-main .sc-button-delete {
		background: #EB6361 !important;
	}
	.l-messages-main .conversationMessage {
		margin-top: -20px !important;
	}
	.l-messages-main .relativeTime {
		font-size: 11pt !important;
	}
	.l-messages-main .sc-button-small.sc-button-icon:not(.sc-button-stretch-icon)::before {
		display: none !important;
	}
	.l-messages-main .textfield__label.g-required-label {
		display: none !important;
	}
	.l-messages-main .conversation__form {
		border-top: none !important;
		padding: 0px;
	}
	.l-messages-main .sc-input,
	.composeMessage__bottomWrapper {
		border-radius: 1px !important;
	}
	.l-messages-left {
		top: 158px;
		left: 230px !important;
	}
	.l-messages-left .sc-button-cta.send-message-button.sc-button.sc-button-medium.sc-button-responsive {
		background: #FF9F55 !important;
		border: none !important;
		border-radius: 2px !important;
		color: #FFF !important;
		font-size: 10.5pt !important;
		font-stretch: condensed !important;
		font-weight: bold !important;
		padding-top: 4px;
		height: 29px !important;
		width: auto !important;
		text-transform: uppercase !important;
	}
	.l-messages-left .inbox__item {
		background: #FFF;
		box-shadow: 0px 1px 2px rgba(0,0,0,.1) !important;
	}
	.l-messages-left .inboxItem:hover, 
	.l-messages-left .inboxItem:focus, 
	.l-messages-left .inboxItem.unread, 
	.l-messages-left .inboxItem.active{
		background: #FFF !important;
	}
	.l-messages-left .g-scrollable {
		margin-top: -30px !important;
	}
	.l-messages-left .inbox__item::before {
		display: none !important;
	}
}

@-moz-document regexp("https://soundcloud.com/notifications.*") {
/* NOTIFICATION */
/** DESCRIPTION : change the elements of the notification page **/
	.l-fluid-fixed .l-main h1 {
		background: rgba(255,255,255,.98) !important;
		border-bottom: 1px solid #EBEBEB !important;
		font-size: 17pt !important;
		font-stretch: condensed !important;
		padding: 20px 20px 22px 20px !important;
		width: 100% !important;
		position: fixed !important;
		top: 46px !important;
		right: 0px !important;
		left: 0px !important;
	}
	.l-fluid-fixed .l-main {
		background: #FFF !important;
		box-shadow: 0px 1px 2px rgba(0,0,0,.1) !important;
		padding: 20px 30px !important;
		margin-top: 78px !important;
		margin-right: 365px !important;
	}
	.l-fluid-fixed .l-main .ownActivitiesList .sc-border-light-top {
		border-top: none !important;
	}
	.l-fluid-fixed .l-main .ownActivity__title {
		display: none !important;
	}
	.l-fluid-fixed .l-main .ownActivity.large .ownActivity__top {
		border: none !important;
		margin-top: 20px !important;
		margin-left: 20px !important;
	}
	.l-fluid-fixed .l-main .ownActivity.large .ownActivity__user {
		border-right: none !important;
	}
	.l-fluid-fixed .l-main .ownActivity.large .userBadge__meta,
	.l-fluid-fixed .l-main .sc-icon-medium.sc-icon-comment {
		display: none !important;
	}
	.l-fluid-fixed .l-main .ownActivity__bottom {
		margin-top: -10px !important;
		margin-left: 20px !important;
	}
	.l-fluid-fixed .l-main .relativeTime {
		font-size: 11pt !important;
	}
	.l-fluid-fixed .l-main .sc-button-small {
		background: #000;
        border: none !important;
        border-radius: 2px !important;
        color: #FFF !important;
        font-size: 10.5pt !important;
        font-stretch: condensed !important;
        font-weight: bold !important;
		line-height: 7.5px !important;
        height: 35px !important;
        min-width: 45px !important;
		padding-right: 13px;
		padding-left: 13px;
		text-indent: 0px !important;
        text-transform: uppercase !important;
		margin-left: 4px !important;
	}
	.blockButton {
		background: #EB6361 !important;
	}
	.reportButton {
		background: #FEC606 !important;
	}
	.sc-button-reply {
		background: #60646D !important;
	}
	.commentForm.m-small .commentForm__input {
		background: transparent !important;
		border: none !important;
	}
}
